body{
    margin: 0;
    padding: 0;
    }
section.banner{
    height: 100vh;
    background-image: url(/assets/img/STARSHIP_CAROUSEL_DESKTOP_Sunset_Full_Stack_031522_DJI_0066_544ff6b208.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.banner .navbar .logos img{

    width: 180px;
    height: auto;
 }


.banner .navbar{
    display:flex;
    justify-content: space-between;
    padding: 40px 65px;
    
    
 }
 .banner .navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .banner .navbar ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 700;
 }
.banner .navbar nav{
padding: 8px;
}

 
    