p.about::first-letter{
font-size: 2rem;
}
p.about::first-line{
color: red;
}

p.about ::selection{
    background-color: rgb(0, 255, 0);
}
.list{
    color: red;
}
.list li::marker{
    color: blue;
    font-size: 2rem;
}
.title::before{
    content:"" ;
    display: inline-block;
    width: 5px;
    height: 25px;
    background-color: red;
    margin-right: 10px;
}
.title::after{
    content:"" ;
    display: inline-block;
    width: 5px;
    height: 25px;
    background-color: red;
    margin-left: 10px;
        
}


