nav.menu li{
    color: red;
}

nav.menu > ul >li{
    color: green;
}
nav.menu ul ul >li{
    color: chartreuse;
}

nav.menu ul ul li:last-child{
    font-weight: bold;
    text-decoration: underline;
}